<% layout('layouts/boilerplate')%>

<form action="/users/<%=currentUser._id %>/edit" method="POST" class="needs-validation" enctype="multipart/form-data" novalidate>
    <div class="mb-3">
        <label class="form-label" for="firstName"> First Name:</label>
        <input class="form-control" type="text" id="firstName" name="firstName" required
        value="<%= user.firstName %>" required>
        <div class="valid-feedback">
             Looks good!
        </div>
    <div class="mb-3">
        <label class="form-label" for="lastName"> Last Name:</label>
        <input class="form-control" type="text" id="lastName" name="lastName" required
        value="<%= user.lastName %>" required>
        <div class="valid-feedback">
            Looks good!
        </div>
        <button class="btn btn-dark mt-3">Update</button>
</form>