
    <% layout('layouts/boilerplate')%>
    <link rel="stylesheet" href="/CSS/addrestaurant.css">
    
    
    <div class="register-photo">
        <div class="form-container">
            <div class="image-holder"></div>
            <form action="/restaurants" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
                <h2 class="text-center"><strong>Create</strong> a restaurant.</h2>
                <div class="mb-3">
                    <label class="form-label" for="title"></label>
                    <input class="form-control" type="text" id="title" name="restaurant[title]" placeholder="Restaurant title" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please choose a title.
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location"></label>
                    <input class="form-control" type="text" id="location" name="restaurant[location]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide a valid location.
                    </div>
                </div> 
                <div class="mb-3">
                    <label class="form-label" for="open"></label>
                    <input class="form-control" type="time" id="open" name="restaurant[openingTime]" value="08:00" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide opening time.
                    </div>
                </div> 
                <div class="mb-3">
                    <label class="form-label" for="close"></label>
                    <input class="form-control" type="time" id="close" name="restaurant[closingTime]" value="23:00" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide closing time.
                    </div>
                </div> 
                <div class="mb-3">
                    <label class="form-label"  for="category">Category</label>
                    <input class="form-control" type="hidden" id="category" value="<%=categoryList[0].name%>" name="restaurant[category]" required> 
                    <select  onchange="myFunction(this.value)">
                        <% for (const i in categoryList) { %>
                            <option value="<%= categoryList[i].name %>"> <%= categoryList[i].name %> </option>
                        <% } %>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="phone">Telephone number:</label>
                    <input class="form-control" type="tel" id="phone"  pattern="^(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{3,4}$"  name="restaurant[phoneNumber]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide valid phone number.
                    </div>
                </div> 

                <div class="mb-3">
                    <label class="form-label">Choose Image(s)</label>
                    <div class="form-file custom-file">
                        <input class="form-control custom-file-input" type="file" id="image" name="image" multiple
                            onchange="previewMultiple(event)">
                        <label for="image" class="form-label custom-file-label"></label>
                    </div>
                    <div id="formFile"></div>
                </div>
               
                <div class="mb-3">
                    <label class="form-label" for="price">Restaurant price</label>
                    <input type="range" class="form-range" min="1" max="5" step="1" id="price" name="restaurant[price]"
                        required>
                    <div style="display:flex; flex-direction:row; justify-content:space-between;">
                        <div>
                            <label for="smallprice">$</label>
                        </div>
                        <div>
                            <label for="midprice">$$$</label>
                        </div>
                        <div>
                            <label for="bigprice">$$$$$</label>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="description"></label>
                    <textarea class="form-control" style="min-height: 10em;" type="text" id="description" placeholder="Restaurant description" name="restaurant[description]"></textarea>
                </div>
                    
                <div class="mb-3"> 
                    <button class="btn btn-dark btn-lg">ADD RESTAURANT</button>
                    <a href="/restaurants"class="btn btn-outline-dark mt-3"> Go back to all restaurants</a> 
                </div>
            </form>
        </div>
    </div>	



    <script>
        function myFunction(val) {
          document.getElementById('category').value=val;
        }
    </script>
    <script>
        function activatePlacesSearch()
{
    var input = document.getElementById('location');
    var autocomplete = new google.maps.places.Autocomplete(input);
}

    </script>
    <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuq5_fuaojsoeTmNUqSOiU6uXd8WM_n7g&libraries=places&callback=activatePlacesSearch">
</script>